<div class="row">
  <div class="col-md-4 col-md-offset-4">
        <form class="text-center border border-light p-5" method="POST" action="/signup">
      <p class="h4 mb-4">{{title}}</p>
  <input name="title" type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Title">
  <input name="description" type="text" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="
  Description">
   <input name="price" type="number" class="form-control mb-4" placeholder="
  Price">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button class="btn btn-info btn-block" type="submit">Submit</button>
</form>
  </div>
</div>